samples_data/
pointnet/
detectron2/
Mask2Former/
samples_data.zip
point_cloud_embeddings.npz
trajectories_plot.ipynb
point_cloud_embeddings_pretrained.npz
step2_one_shot_pretrained.ipynb
model_weights_step2_one_shot_pretrained
prova_mask2former.ipynb
input.jpg
step2_one_shot_pretrained&train.ipynb
step2_one_shot_train_pnf.ipynb